
{{#section 'css'}}
    <link rel="stylesheet" href="/css/detailCourse.css">
    <link rel="stylesheet" href="/css/account/userlogin.css">
{{/section}}

<div class="container" style="margin-top: 10px;">
    <div class="main__url" data-folder="{{course.folderName}}">
        <a href="/">Trang chủ</a>
        <span> &gt; <span/>
        <a href="/courses/{{course.slug}}" id="slug">{{course.slug}}</a>
    </div>
</div>
<div class="container">
    <div class="row">

        {{!-- ----------CONT LEFT---------- --}}
        <div class="col-lg-8 cont-left">
            <div>
                <p class="big-title">{{course.name}}</p> 
                <p class="decrip">{{{course.fullDes}}}</p>    
            </div>

            <div class="mb-3 mt-1">
                <p class="title"> Nội dung khóa học </p>
                <div class="list-course ">
                    {{#each lessons}}
                    <a href="/user/courses/{{../course.slug}}>{{_id}}" class="course mt-1">
                        <div class="title-course"><i class="fas fa-plus mr-2"></i> Bài {{index}}: {{name}}</div>
                        <div class="time-course">05:44</div>
                    </a>
                    {{/each}}
                </div>
            </div>

            <div class="mb-3 mt-1">
                <p class="title"> Yêu cầu </p>
                <div>
                    <p>
                        <i class="fas fa-check mr-1"></i>
                        Máy vi tính kết nối internet (Windows, Ubuntu hoặc MacOS)
                    </p>
                    <p>
                        <i class="fas fa-check mr-1"></i>
                        Ý thức tự học cao, trách nhiệm cao, kiên trì bền bỉ không ngại cái khó
                    </p>
                    <p>
                        <i class="fas fa-check mr-1"></i>
                        Không được nóng vội, bình tĩnh học, làm bài tập sau mỗi bài học
                    </p>
                    <p>
                        <i class="fas fa-check mr-1"></i>
                        Khi học nếu có khúc mắc hãy bạn Dũng gánh team
                    </p>
                    <p>
                        <i class="fas fa-check mr-1"></i>
                        Bạn không cần biết gì hơn nữa, trong khóa học tôi sẽ chỉ cho bạn những gì bạn cần phải biết
                    </p>
                </div>
            </div>

            <div class="mb-3 mt-1">
                <p class="title"> Thông tin Giảng viên </p>
                <div class="info-lecturer">
                    <div class="lecturer-name">
                        <div>Giảng viên</div>
                        <div>
                            <h3>{{lecturer.name}}</h3>
                        </div>
                    </div>
                    <div class="lecturer-description">
                        <div class="lecturer-description-items">
                            <i class="fas fa-envelope items-icon"></i>
                            <span> {{lecturer.email}} </span>
                        </div>
                        <div class="lecturer-description-items">
                            <i class="fas fa-book-open items-icon"></i>
                            <span>Sở hữu <b>{{lecturer.totalCourse}}</b> khóa học</span>
                        </div>
                        <div class="lecturer-description-items">
                            <i class="fas fa-user-graduate items-icon"></i>
                            <span>Số lượng học viên <b>{{lecturer.totalStudent}}</b></span>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="mb-3 mt-1">
                <p class="title-danhgia">Đánh giá </p>
                <form action="/user/courses/{{course.slug}}" method="POST" id="frmComment">
                    <div style="display: flex;">
                        <div class="cmt-avt mr-3">
                            <img src="/image/login/background.jpg" alt="avatar" class="user-avt">
                        </div>
                        <div class="cmt-content">
                            <div class="rating">
                                <input type="radio" name="rating" class="input-rating" id="rating-5" value="5">
                                <label for="rating-5"></label>
                                <input type="radio" name="rating" class="input-rating" id="rating-4" value="4" >
                                <label for="rating-4"></label>
                                <input type="radio" name="rating" class="input-rating" id="rating-3" value="3">
                                <label for="rating-3"></label>
                                <input type="radio" name="rating" class="input-rating" id="rating-2" value="2">
                                <label for="rating-2"></label>
                                <input type="radio" name="rating" class="input-rating" id="rating-1" value="1">
                                <label for="rating-1"></label>
                            </div>
                            <input class="form-control" type="text" name="comment" id="inpCmt" placeholder="Đánh giá công khai...">
                        </div>    
                    </div>
                    <div class="gr-btn" >
                        <button type="reset" class="btn btn-outline-secondary">Hủy</button>
                        <button type="submit" class="btn btn-primary">Đánh giá</button>
                    </div>
                </form>
                
                <div class="list-cmt">
                    {{#each listComment}}
                    <div class="comment">
                        <div class="mr-3">
                            <img src="/image/login/background.jpg" alt="avatar" class="avt">
                        </div>
                        
                        <div class="content-cmt">
                            <p class="user-name">{{name_user}} <span class="time-cmt">{{time}}</span> </p>
                            <div>
                                {{#if rate1 }}
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                {{else}}
                                    {{#if rate2 }}
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    {{else}}
                                        {{#if rate3 }}
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        {{else}}
                                            {{#if rate4 }}
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                            {{else}}
                                                {{#if rate5 }}
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            </div>
                            <p class="cmt">{{cmt}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                
            </div>
        </div>

        {{!-- --------CONT RIGHT----------- --}}

        <div class="cont-right">
            <div class="courseDetail_vdPreview">
                <video width="370px" class="video-js vjs-big-play-centered" muted controls
                    poster="" data-setup="{}">
                    <source src="/products/{{course.folderName}}/videos/{{course.introVideo}}" type="video/mp4" />
                </video>
            </div>

            <a class="courseDetail_learnNow" href="/user/courses/{{course.slug}}>{{lesson._id}}">HỌC NGAY</a>

            <div class="courseDetail_description">
                <ul>
                    <li class="courseDetail_badge">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Trình độ cơ bản</span>
                    </li>
                    <li class="courseDetail_badge">
                        <i class="fas fa-film"></i>
                        <span>Tổng số <b>{{course.lessons.length}}</b> bài học</span>
                    </li>
                    <li class="courseDetail_badge">
                        <i class="fas fa-battery-full"></i>
                        <span>Học mọi lúc mọi nơi</span>
                    </li>
                </ul>
            </div>
        </div>

        {{!-- -----------END----------- --}}
            
        </div>
    </div>
</div>
