<div class="container mt-2">
    <div class="row">
        <div class="col-lg-8 cont-left">
            <div>
                <p class="mb-2 mt-3">
                    <a href="#" class="cat">Khóa học</a>
                    
                    <span class="ml-1 mr-1">></span>
                
                    <a href="#" class="cat">{{course.slug}}</a>
                </p>
                <p class="big-title">{{course.name}}</p> 
                <p class="decrip">{{{course.fullDes}}}</p>    
            </div>


            <div class="mb-3 bt-1">
                <p class="title"> Nội dung khóa học </p>
                <div class="list-course ">
                    {{#each lessons}}
                    <a href="/courses/video/{{../course.slug}}>{{_id}}" class="course mt-1">
                        <div class="title-course"><i class="fas fa-plus mr-2"></i> Bài {{index}}: {{name}}</div>
                        <div class="time-course">05:44</div>
                    </a>
                    {{/each}}
                </div>
            </div>


            <div class="mb-3 mt-1">
                <p class="title"> Bình luận </p>
                <div class="list-cmt">

                    <div class="comment">
                        <div class="mr-3">
                            <img src="/image/login/background.jpg" alt="avatar" class="avt">
                        </div>
                        <div class="content-cmt">
                            <p class="user-name">Dũng gánh team <span class="time-cmt">15 phút trước</span> </p>
                            <p class="cmt">Hay quá anh ơi</p>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="mr-3">
                            <img src="/image/login/background.jpg" alt="avatar" class="avt">
                        </div>
                        <div class="content-cmt">
                            <p class="user-name">Dũng gánh team <span class="time-cmt">1 ngày trước</span> </p>
                            <p class="cmt">Nhờ bài giảng của anh mà em có thể gánh đồ án web của nhóm em rồi anh ạ. Cảm ơn anh rất nhiều</p>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="mr-3">
                            <img src="/image/login/background.jpg" alt="avatar" class="avt">
                        </div>
                        <div class="content-cmt">
                            <p class="user-name">Dũng gánh team <span class="time-cmt">1 tuần trước</span> </p>
                            <p class="cmt">Được thì a làm thêm phần thích học bài nào là học với ạ, vì e học qua yt rồi, h xem lại thấy hơi mất thời gian ạ</p>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="mr-3">
                            <img src="/image/login/background.jpg" alt="avatar" class="avt">
                        </div>
                        <div class="content-cmt">
                            <p class="user-name">Dũng gánh team <span class="time-cmt">15 phút trước</span> </p>
                            <p class="cmt">Hay quá anh ơi</p>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="mr-3">
                            <img src="/image/login/background.jpg" alt="avatar" class="avt">
                        </div>
                        <div class="content-cmt">
                            <p class="user-name">Dũng gánh team <span class="time-cmt">1 ngày trước</span> </p>
                            <p class="cmt">Nhờ bài giảng của anh mà em có thể gánh đồ án web của nhóm em rồi anh ạ. Cảm ơn anh rất nhiều</p>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="mr-3">
                            <img src="/image/login/background.jpg" alt="avatar" class="avt">
                        </div>
                        <div class="content-cmt">
                            <p class="user-name">Dũng gánh team <span class="time-cmt">1 tuần trước</span> </p>
                            <p class="cmt">Được thì a làm thêm phần thích học bài nào là học với ạ, vì e học qua yt rồi, h xem lại thấy hơi mất thời gian ạ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont-right">
            <div class="courseDetail_vdPreview">
                 <video width="370px" class="video-js vjs-big-play-centered" muted controls
                    poster="" data-setup="{}">
                    <source src="/products/{{course.folderName}}/videos/{{course.introVideo}}" type="video/mp4" />
                </video>
            </div>

            <a class="courseDetail_learnNow" href="/courses/video/{{course.slug}}>{{lesson._id}}">HỌC NGAY</a>

            <div class="courseDetail_description">
                <ul>
                    <li class="courseDetail_badge">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Trình độ cơ bản</span>
                    </li>
                    <li class="courseDetail_badge">
                        <i class="fas fa-film"></i>
                        <span>Tổng số <b>{{course.lessons.length}}</b> bài học</span>
                    </li>
                    <li class="courseDetail_badge">
                        <i class="fas fa-battery-full"></i>
                        <span>Học mọi lúc mọi nơi</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>