
{{#section 'css'}}
    <link rel="stylesheet" href="/css/user/bookmark.css">
    <link rel="stylesheet" href="/css/home.css">
{{/section}}

    <div class="container mt-5">
        <h1 class="big-title">Khóa học yêu thích</h1>  
        <!-- Product item -->
        <div class="product mt-5">
            <!-- Khóa học nổi bật -->
            <div class="row">
                {{#each listcourse}}
                <div class="col-sm-3 mb-4">
                    <a href="/courses/{{slug}}" class="product-item">
                        <div class="card card-item">
                            <img src="/products/{{folderName}}/images/{{avatar}}" class="product-item__img card-img-top"
                                alt="avatar" title="avatar of course">
                            <div class="card-body">
                                <h5 class="card-title product-item__title">{{name}}</h5>
                                <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                                <span class="card-text product-item__category">Lĩnh vực: lập trình</span>
                                {{#if ratingPoint}}
                                <div class="product-item__rating">
                                    <span class="product-item__total-star">{{ratingPoint}}</span>
                                    <div id="{{_id}}" value="{{ratingPoint}}"></div>
                                    <h6 class="product-item__total-rating card-subtitle text-muted">({{totalRating}})</h6>
                                </div>
                                {{/if}}
                                {{#if currentPrice}}
                                <div class="product-item__price mt-1">
                                    <span class="product-item__price-old">{{format initialPrice}}</span>
                                    <span class="product-item__price-current">{{format currentPrice}}</span>
                                </div>
                                {{else}}
                                <div class="product-item__price mt-1">
                                    <span class="product-item__price-current">{{format initialPrice}}</span>
                                </div>
                                {{/if}}
                                
                                {{!-- Thể hiện biểu tượng --}}
                                {{#if saleOffPercent}}
                                <div class="product-item__sale-off">
                                    <span class="product-item__sale-off-percent">{{saleOffPercent}}%</span>
                                    <span class="product-item__sale-off-label">GIẢM</span>
                                </div>
                                {{/if}}
                            </div>
                            <div class="card-footer  product-item__footer">
                                <a class="btn btn-outline-danger mr-3" href="/user/deletebookmark/{{id}}" role="button">
                                    <i class="fas fa-heart"></i>
                                    Bỏ Yêu Thích
                                </a>
                                <a class="btn btn-outline-primary mr-3" href="/courses/{{slug}}" role="button">
                                    <i class="fas fa-eye"></i>
                                    Xem chi tiết
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>