
{{#section 'css'}}
<link rel="stylesheet" href="/css/lecturer/manageCourses.css">
{{/section}}

{{#section 'js'}}
{{/section}}

<div class="content">
    <div class="page-title">
        <h1>Quản lý khóa học</h1>
    </div><!-- /.page-title -->

    <div class="background-white p-3 mb30">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link my-course" href="/lecturer/courses">Khóa học của tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link up-course" href="/lecturer/courses/create">Đăng khóa học</a>
            </li>
            <li class="nav-item">
                <a class="nav-link edit-course" href="#">Bổ sung khóa học</a>
            </li>
        </ul>

        <div class="row">
            {{#each courses}}
            <div class="col-sm-4">
                <a href="/course/{{slug}}" class="product-item">
                    <div class="card card-item">
                        <img src="/products/{{folderName}}/images/{{avatar}}" class="product-item__img card-img-top" alt="avatar" title="avatar of course">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">{{name}}</h5>
                            <h4 class="card-subtitle mb-2 text-muted">{{lecName}}</h4>
                            <span class="card-text product-item__category">Lĩnh vực: {{fieldName}}</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">{{rating}}</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">({{totalRating}})</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">{{initialPrice}}</span>
                                <span class="product-item__price-current">{{currentPrice}}</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="/lecturer/courses/update" role="button">
                                <i class="fas fa-heart"></i>
                                Cập nhập
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
            
        </div>
    </div>

</div><!-- /.content -->

<script>
    $(document).ready(function () {
        $('.my-course').addClass('active-item');
        $('.menu-advanced .edit-info').removeClass('active');
        $('.menu-advanced .course-management').addClass('active');
    });
</script>