{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
<link rel="stylesheet" href="/css/lecturer/updateCourse.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/myAlert.css">
{{/section}}
{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
    $('#addLesson #video').fileinput({
        theme: 'fa',
        dropZoneEnabled: true,
        allowedFileExtensions: ['mp4'],  //chỉ cho phép upload các định dạng sau
        showUpload: false,
        showPreview: false,
    });

    $('#editLesson #video').fileinput({
        theme: 'fa',
        dropZoneEnabled: false,
        allowedFileExtensions: ['mp4'],
        showUpload: false,
        showPreview: false,
    });
</script>
<script>
    $('#flagLink').removeClass('hidden');
    $('#flagLink + a').removeClass('hidden');
    $('#flagLink + a').attr('href', '/lecturer/courses/'+ '{{course.slug}}');
</script>
<script>
    $('#frmAddLesson #lessonName').on('input', removeError)

    function removeError() {
        $('#lessonName + .form-message').text("");
        $('#frmAddLesson #lessonName').removeClass('inValid');
    }
    // handle add lesson action
    $('#frmAddLesson #btnSubmit').on('click', function () {
        //Validate tên bài giảng
        const lessonNameInput = $('#frmAddLesson #lessonName')
        if (!lessonNameInput.val()) {
            lessonNameInput.addClass("inValid");
            $('#lessonName + .form-message').text("Bạn chưa nhập tên bài giảng.");
            return;
        }

        let slug = '{{course.slug}}';
        let index = $('#frmAddLesson #indexLesson').val();
        axios.post('/courses/lesson/isExist', { slug, index })
            .then(response => {
                if (response.data.status) {
                    Swal.fire(
                        `Bài giảng số ${index} đã tồn tại! `,
                        '',
                        'error'
                    );
                } else {
                    $('#frmAddLesson').submit();
                }
            })
    })
    /*------------------------------------------------------------------*/
    // handle lesson delete action (hành động hỏi trước khi xóa bài giảng)
    document.addEventListener('DOMContentLoaded', function () {
        var lessonId;
        const deleteForm = document.querySelector('#frmDelete');

        // When dialog confirm clicked
        $('#delete-lesson-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            lessonId = button.data('id');
        });

        // When delete course btn clicked
        $('#btn-delete-lesson').click(function () {
            deleteForm.action = '/lecturer/courses/lesson/del/' + lessonId;
            deleteForm.submit();
        });
    });

    /*------------------------------------------------------------------*/
    // search a lesson by lesson name
    $('#lessonSearchInput').keypress(function (event) {
        if (event.keyCode == 13) {
            searchLesson();
            window.location.href = $('#searchIcon').attr('href');
        }
    })
    // active behaviour tag a
    $('#searchIcon').on('click', searchLesson)

    function searchLesson() {
        const key = $('input#lessonSearchInput').val();
        const slug = '{{course.slug}}';
        $('#searchIcon').attr("href", `/lecturer/courses/${slug}?key=${key}`);
    }

    //*------------------------------------------------------------------*/
    // verify course completed
    $('#verifyCourse').on('click', function() {
        const courseId = '{{course._id}}';
        axios.get(`/lecturer/courses/${courseId}/verify`)
            .then(response => response.data)
            .then(data => {
                if(data.status) {
                    // Update lại giao diện
                    const myBadge = $('#badge-course');
                    myBadge.text('Đã hoàn thành');
                    myBadge.removeClass("badge-uncompleted");
                    myBadge.addClass("badge-completed");
                    // fire notify
                    Swal.fire(
                        `Khóa học đã được xác thực là HOÀN THÀNH`,
                        '',
                        'success'
                    );
                }
                else {
                    Swal.fire(
                        `Khóa học chưa cập nhập đầy đủ nội dung, vui lòng kiểm tra lại!`,
                        '',
                        'error'
                    );
                }
            })
    })

</script>
<script>
    // handle edit lesson
    const frmEditLesson = $('#frmEditLesson');
    $('#editLesson').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        const id = button.data('id');
        $('#frmEditLesson')[0].indexLesson.value = button.data('index');
        $('#frmEditLesson')[0].lessonName.value = button.data('name');
        $('#frmEditLesson')[0].action = "/lecturer/courses/lesson/edit/" + id;
    });
</script>
{{/section}}
<div class="content">
    <div class="page-title">
        <h1 class="course-name">
            {{course.name}}
            {{#if course.status}}
            <span id="badge-course" class="badge badge-pill badge-completed">Đã hoàn thành</span>
            {{else}}
            <span id="badge-course" class="badge badge-pill badge-uncompleted">Chưa hoàn thành</span>
            {{/if}}
            
        </h1>
        <a id="verifyCourse" href="javascript:;" class="course-completed"><i class="far fa-check-square"></i></a>
    </div>
    <div class="main-container">
        <div class="header-update-course">
            <div class="info-status">
                <div class="quantity">
                    Số lượng bài giảng: <span id="quantity" class="amount">{{course.quantity}}</span>
                </div>
                <div class="updated">
                    Đã hoàn thành: <span class="amount">{{course.completed}}</span>
                </div>
            </div>

            <div class="search-bar">
                <input id="lessonSearchInput" type="text" class="search-bar__input" placeholder="Tìm kiếm bài giảng...">
                <a id="searchIcon" href="/lecturer/courses/xay-dung-web-voi-nodejs-and-expressjs-new?key=test1" class="search-bar__icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>

            <a href="#" class="add-lesson" data-toggle="modal" data-target="#addLesson">
                <i class="fas fa-plus"></i>
            </a>



        </div>
        {{!----------------------------------------------------------------------------}}
        <!-- Modal add new lesson -->
        <div class="modal fade" id="addLesson" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="addLessonLabel" aria-hidden="true">

            <form id="frmAddLesson" method="POST" action="/lecturer/courses/lesson/add" enctype="multipart/form-data">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addLessonLabel"><i>Thêm bài giảng</i></h5>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="indexLesson">Bài giảng số </label>
                                <select class="form-control" id="indexLesson" name="index">
                                </select>
                                {{!-- Binding index for lesson --}}
                                <script>
                                    const num = +$('#quantity').text();
                                    let html = "";
                                    for (let i = 1; i <= num; i++) {
                                        if (i === 1) {
                                            html += `<option value="${i}" selected>${i}</option>`;
                                            continue;
                                        }
                                        html += `<option value="${i}">${i}</option>`
                                    }
                                    document.getElementById('indexLesson').innerHTML = html;
                                </script>
                            </div>

                            <div class="form-group">
                                <label for="lessonName">Tên bài giảng</label>
                                <input type="text" class="form-control" id="lessonName" name="lessonName"
                                    placeholder="Vd: Lập trình web với PHP">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="video">Video bài giảng</label>
                                <input type="file" class="file" id="video" name="video">
                                <span class="form-message"></span>
                            </div>

                        </div>
                        <div class="modal-footer modal-footer-lesson">
                            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal"
                                onclick="removeError()">Hủy
                                bỏ</button>
                            <button id="btnSubmit" type="button" class="btn btn-primary">Thêm mới</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Modal edit lesson -->
        <div class="modal fade" id="editLesson" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="editLessonLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editLessonLabel"><i>Cập nhập bài giảng</i></h5>
                    </div>
                    <div class="modal-body">
                        <form id="frmEditLesson" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="indexLesson">Bài giảng số </label>
                                <input type="text" class="form-control" id="indexLesson" name="indexLesson" value="1"
                                    readonly>
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="lessonName">Tên bài giảng</label>
                                <input type="text" class="form-control" id="lessonName" name="lessonName"
                                    placeholder="Vd: Lập trình web với PHP">
                                <span class="form-message"></span>
                            </div>

                            <div class="form-group">
                                <label for="video">Video bài giảng</label>
                                <input type="file" class="file" id="video" name="video" placeholder="Chọn video">
                                <span class="form-message"></span>
                            </div>

                    </div>
                    <div class="modal-footer modal-footer-lesson">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Hủy bỏ</button>
                        <button type="submit" class="btn btn-primary">Cập nhập</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Confirm delete lesson -->
        <div id="delete-lesson-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xóa bài giảng?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="alert-message">Bạn chắc chắn muốn xóa bài giảng này?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Hủy</button>
                        <button id="btn-delete-lesson" type="button" class="btn btn-danger btn-modal">Xóa bỏ</button>
                    </div>
                </div>
            </div>
        </div>
        {{!----------------------------------------------------------------------------}}
        <!-- Delete hidden form -->
        <form id="frmDelete" method="POST"></form>
        {{!----------------------------------------------------------------------------}}
        <div class="lesson-table mb-5">
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th class="lesson-name" scope="col">Tên bài giảng</th>
                        <th scope="col">Video</th>
                        <th scope="col">Cập nhập lần cuối</th>
                        <th scope="col">Trạng thái</th>
                        <th class="lesson-table__icon" scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if this.empty}}
                    <tr>
                        <td class="empty-data" colspan="6">Không có dữ liệu.</td>
                    </tr>
                    {{/if}}
                    {{#each lessons}}
                    <tr>
                        <th scope="row">{{index}}</th>
                        <td>{{lessonName}}</td>
                        <td>{{video}}</td>
                        <td>{{updatedAt}}</td>
                        <td>{{status}}</td>
                        <td class="d-flex justify-content-end icon-update-course">
                            <a data-toggle="modal" data-target="#editLesson" href="" data-id="{{_id}}"
                                data-index="{{index}}" data-name={{lessonName}} class="edit-icon d-inline-block mr-4">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a href="" class="delete-icon mr-2" data-toggle="modal" data-id="{{_id}}"
                                data-target="#delete-lesson-modal">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>