
{{#section 'css'}}
<link rel="stylesheet" href="/css/admin/manage.css">
{{/section}}

{{#section 'js'}}
<script src="/javascript/validator.js"></script>
<script>
		$('.sidebar-nav-item .dashboard').removeClass('active');
		$('.sidebar-nav-item .student-management').addClass('active');
</script>

{{/section}}


<div class="wrapper">
		<div class="row">
			<div class="col-100 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Quản lý Học viên
						</h3>
	
					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Họ tên</th>
									<th>Email</th>
									<th>Số điện thoại</th>
									<th>Trạng thái</th>
									<th>Quản lý</th>
								</tr>
							</thead>
							<tbody>

								{{#each students}}
								<tr>
									<td>{{_id}}</td>
									<td>{{name}}</td>
									<td>{{email}}</td>
									<td>{{phone}}</td>
									<td>{{stringStatus}}</td>
									<td>
										<a href="/admin/student/edit/{{_id}}" class="edit"><i class="material-icons" title="Edit">&#xE254;</i></a>
										<a href="/admin/student/delete/{{_id}}" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></a>
									</td>
								</tr>

								{{/each}}
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>








