
{{#section 'css'}}
<link rel="stylesheet" href="/css/admin/manage.css">
{{/section}}

{{#section 'js'}}
<script src="/javascript/validator.js"></script>
<script>

	$('.sidebar-nav-item .dashboard').removeClass('active');
	$('.sidebar-nav-item .product-management').addClass('active');

	var page = parseInt($('#page').text()) + 1;
		$('.pager__item').eq(`${page}`).addClass('active')

		$('#text-search').keypress(function (event) {
			if (event.keyCode == 13) {
				var stringSearch = $('#text-search').val();
				window.location.assign(`/admin/course?page=1&search=${stringSearch}`);
			}
		})
		$('#text-search').change(function() {
			var stringSearch = $('#text-search').val();
			$('#link-search').attr('href',`/admin/course?page=1&search=${stringSearch}`)
		})

		//-- ---------FILTER------------ --

		$('#btnClick').click(function() {
			const lecId = $('#searchlecId option:selected').val();
			const fieldId = $('#searchfieldId option:selected').val();
			if (lecId === "All" && fieldId === "All") {
				window.location.assign('/admin/course?page=1');
			}
			if (lecId !== "All" && fieldId === "All") {
				window.location.assign(`/admin/course?page=1&lecId=${lecId}`);
			}
			if (lecId === "All" && fieldId !== "All") {
				window.location.assign(`/admin/course?page=1&fieldId=${fieldId}`);
			}
		})

		

</script>
{{/section}}

<span id="page" style="display: none;">{{prev_page}}</span>
<div class="wrapper">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
			            <h3>Quản lý Khóa học</h3>	

						<div class="header-search__input-wrap">
							<input id="text-search" type="text" class="header-search__input" placeholder="{{#if disable_page}}Kết quả tìm kiếm '{{stringSearch}}'{{else}}Tìm kiếm Khóa học...{{/if}}">
								<a id="link-search" href="" class="header-search__icon">
									<i class="fa fa-search" aria-hidden="true"></i>
								</a>
						</div>	
						<div class="filter-wrapper">
							<div class="filter-button">
								<button type="button" class="filter-icon" id="btnClick">
									<span><i class="fa fa-filter" aria-hidden="true"></i></span>
									<span>Filter</span>
								</button>
							</div>
							<div class="form-group">
								<label for="searchlecId">Tên giảng viên</label>
								<select name="searchlecId" id="searchlecId" class="form-control">
									<option value="All">Tất cả</option>
									{{#each lecturers}}
									<option value="{{_id}}">{{name}}</option>
									{{/each}}
								</select>
							</div>
							<div class="form-group">
								<label for="searchfieldId">Lĩnh vực</label>
								<select name="searchfieldId" id="searchfieldId" class="form-control">
									<option value="All">Tất cả</option>
									{{#each fields}}
									<option value="{{_id}}">{{name}}</option>
									{{/each}}
								</select>
							</div>
						</div>			
					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Tên khóa học</th>
									<th>Lĩnh vực</th>
									<th>Giảng viên</th>
									<th>Giá hiện tại</th>
									<th>Trạng thái</th>
									<th>Quản lý</th>
								</tr>
							</thead>
							<tbody>
								{{#each courses}}
								<tr>
									<td>{{_id}}</td>
									<td class="custom-display">{{name}}</td>
									<td>{{fieldName}}</td>
									<td>{{lecName}}</td>
									<td>{{format currentPrice}}</td>
									<td>{{stringStatus}}</td>
									<td>
										<a href="/admin/course/edit/{{_id}}" class="edit"><i class="material-icons" title="Edit">&#xE254;</i></a>
										<a href="/admin/course/delete/{{_id}}" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></a>
									</td>
								</tr>

								{{/each}}
								
							</tbody>
						</table>
						{{#if empty}}
							<div class="empty">Không tìm thấy kết quả nào</div>
						{{/if}}
					</div>
					{{#unless empty}}
					<nav>
						<ul class="pager">
							<li class="pager__item pager__item--prev" {{#if can_go_prev }}style="pointer-events: none;"{{/if}}>
								<a class="pager__link" href="/admin/course?page={{prev_page}}{{#if stringSearch}}&search={{stringSearch}}{{/if}}">
								<svg xmlns="" width="8" height="12" viewbox="0 0 8 12">
									<g fill="none" fill-rule="evenodd">
									<path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
									</g>
								</svg></a></li>
							{{#each page_items}}
								<li class="pager__item"><a class="pager__link" href="/admin/course?page={{value}}{{#if stringSearch}}&search={{stringSearch}}{{/if}}">{{value}}</a></li>
							{{/each}}
							<li class="pager__item pager__item--next" {{#if can_go_next }}style="pointer-events: none;"{{/if}} >
								<a class="pager__link" href="/admin/course?page={{next_page}}{{#if stringSearch}}&search={{stringSearch}}{{/if}}">
									<svg xmlns="" width="8" height="12" viewbox="0 0 8 12">
										<g fill="none" fill-rule="evenodd">
										<path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
										</g>
									</svg>
								</a>
							</li>
						</ul>
					</nav>
					{{/unless}}
				</div>
			</div>
			
		</div>
   








