{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="/css/admin/manage.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/javascript/validator.js"></script>

<script>
    if ($('#status option:nth-child(1)').val() === 'false'){
        $('#status option:nth-child(2)').val('true');
        $('#status option:nth-child(2)').text('Đã hoàn thành')
        }

</script>

<script>
    $('.sidebar-nav-item .dashboard').removeClass('active');
    $('.sidebar-nav-item .product-management').addClass('active');

    document.addEventListener("DOMContentLoaded", function () {
            Validator({
                form: "#edit-course",
                formGroupSelector: ".form-group",
                errorSelector: ".form-message",
                rules: [
                    Validator.isRequired("#name", "Tên sản phẩm còn trống"),
                    Validator.isRequired("#tinyDes", "Mô tả khóa học còn trống"),
					Validator.isRequired("#currentPrice", "Giá còn trống"),
                    ],
            });
        });

</script>


{{/section}}

<div class="wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3>Thông Tin Khóa Học</h3>					
                </div>
                <div class="card-content">
                    <form id="edit-course" method="POST">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="id">ID</label>
                                <input type="text" class="form-control unable" id="id" name="id" value="{{this.course._id}}" readonly="true">
                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>

                            <div class="form-group">
                                <label for="name">Tên khóa học</label>
                                <input type="text" class="form-control" id="name" name="name" value="{{this.course.name}}">
                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>

                            <div class="form-group">
                                <label for="field">Lĩnh vực</label>
                                <select class="form-control" name="field" id="field">
                                    <option value="{{this.course.fieldId}}">{{this.course.fieldName}}</option>
                                    {{#each fields}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>

                            <div class="form-group">
                                <label for="category">Danh mục</label>
                                <input type="text" class="form-control unable" id="category" name="category" value="{{this.course.catName}}" disabled>
                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>
 
                            <div class="form-group">
                                <label for="tinyDes">Mô tả</label>
                                <textarea class="form-control" id="tinyDes" name="tinyDes" >{{this.course.tinyDes}}</textarea>
                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>

                            <div class="form-group">
                                <label for="createAt">Ngày tạo</label>
                                <input type="text" class="form-control unable" id="createAt" name="createAt" value="{{this.course.createdAt}}" disabled >
                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>

                            <div class="form-group">
                                <label for="lecId">Giảng viên đăng tải</label>
                                <select class="form-control" id="lecId" name="lecId" >
                                    <option value="{{this.course.lecId}}">{{this.course.lecName}}</option>
                                    {{#each lecturers}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>

                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>

                            <div class="form-group">
                                <label for="currentPrice">Giá</label>
                                <input type="text" class="form-control" id="currentPrice" name="currentPrice" value="{{format this.course.currentPrice}}">
                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>

                            <div class="form-group">
                                <label for="status">Trạng thái</label>
                                <select name="status" id="status" class="form-control">
                                    <option value="{{this.course.status}}">{{this.course.stringStatus}}</option>
                                    <option value="false">Đã hoàn thành</option>
                                </select>
                                <span class="form-message"></span><span class="message-clone">0</span>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="/admin/course?page={{page}}"><input type="button" class="btn back" value="Quay lại"></a>
                            <input type="submit" class="btn update" value="Cập nhật">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


