
{{#section 'css'}}
<link rel="stylesheet" href="/css/admin/qlsp.css">
{{/section}}

<div class="wrapper">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
			            <h3>Quản lý Khóa học</h3>					
					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Tên khóa học</th>
									<th>Danh mục</th>
									<th>Giá hiện tại</th>
									<th>Trạng thái</th>
									<th>Quản lý</th>
								</tr>
							</thead>
							<tbody>
								{{#each courses}}
								<tr>
									<td>{{_id}}</td>
									<td class="custom-display">{{name}}</td>
									<td>{{slug}}</td>
									<td>{{format currentPrice}}</td>
									<td>{{status}}</td>
									<td>
										<a href="/admin/product/edit" class="edit"><i class="material-icons" title="Edit">&#xE254;</i></a>
										<a href="" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></a>
									</td>
								</tr>

								{{/each}}
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
   
<script src="/javascript/validator.js"></script>
<script>

	//$('.sidebar-nav li').click(function(){	
		// Removing class from all list elements
		$('.sidebar-nav-item .dashboard').removeClass('active');
		  
			// Adding class to clicked list element
		$('.sidebar-nav-item .product-management').addClass('active');
		//});

		    document.addEventListener("DOMContentLoaded", function () {
            Validator({
                form: "#edit-product",
                formGroupSelector: ".form-group",
                errorSelector: ".form-message",
                rules: [
                    Validator.isRequired("#name", "Product name invalid"),
					Validator.isRequired("#category", "Category name invalid"),
					Validator.isRequired("#price", "Price invalid"),
					Validator.isRequired("#quantity", "Quantity invalid"),
					Validator.isRequired("#lecturer", "Lecturer invalid"),
                    Validator.isConfirmed(
                        function () {
                            return document.querySelector("#edit-product").value;
                        },
                    ),
                ],
                onSubmit: function (data) {
                    // Call API
                    console.log(data);
                },
            });
        });

</script>







