{{#section 'css'}}
<link rel="stylesheet" href="/css/admin/manage.css">
{{/section}}

{{#section 'js'}}
<script>
	var page = parseInt($('#page').text()) + 1;
	$('.pager__item').eq(`${page}`).addClass('active')
</script>
{{/section}}


<span id="page" style="display: none;">{{prev_page}}</span>
<div class="wrapper">
		<div class="row">
			<div class="khoi">
				<div class="counter bg-primary">
					<p>
						<i class="fas fa-user-graduate"></i>
					</p>
					<h3> {{students.length}}</h3>
					<p>Tổng học viên</p>
				</div>
			</div>
			<div class="khoi">
				<div class="counter bg-warning">
					<p>
						<i class="fas fa-user-tie"></i>
					</p>
					<h3>{{lecturers.length}}</h3>
					<p>Tổng giảng viên</p>
				</div>
			</div>
			<div class="khoi">
				<div class="counter bg-success">
					<p>
						<i class="fas fa-tasks"></i>
					</p>
					<h3>{{category.length}}</h3>
					<p>Tổng danh mục</p>
				</div>
			</div>
			<div class="khoi">
				<div class="counter bg-success">
					<p>
						<i class="fas fa-tasks"></i>
					</p>
					<h3>{{fields.length}}</h3>
					<p>Tổng lĩnh vực</p>
				</div>
			</div>
			<div class="khoi">
				<div class="counter bg-danger">
					<p>
						<i class="fas fa-book-open"></i>
					</p>
					<h3>{{courses.length}}</h3>
					<p>Tổng khóa học</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Quản lý khóa học nổi bật
						</h3>
						<div class="">								
							<a href="/admin/resetIndex" class="reset"><i class="material-icons" title="Reset">wifi_protected_setup</i></a>
						</div>
					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>#</th>
									<th>Tên khóa học</th>
									<th>Lĩnh vực</th>
									<th>Lượt xem</th>
									<th>Đánh giá</th>
									<th>Số sao</th>
									<th>Trạng thái</th>
									<th>Điểm nổi bật</th>
								</tr>
							</thead>
							<tbody>
								{{#each courses}}
								<tr>
									<td class="counterCell"></td>
									<td class="custom-display">{{name}}</td>
									<td>{{fieldName}}</td>
									<td>{{view}}</td>
									<td>{{totalRating}}</td>
									<td>{{eveRating}}</td>
									<td>{{stringStatus}}</td>
									<td>{{nIndex}}</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					<nav>
						<ul class="pager">
							<li class="pager__item pager__item--prev" {{#if can_go_prev }}style="pointer-events: none;"{{/if}}>
								<a class="pager__link" href="/admin?page={{prev_page}}">
								<svg xmlns="" width="8" height="12" viewbox="0 0 8 12">
									<g fill="none" fill-rule="evenodd">
									<path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
									</g>
								</svg></a></li>
							{{#each page_items}}
								<li class="pager__item"><a class="pager__link" href="/admin?page={{value}}">{{value}}</a></li>
							{{/each}}
							<li class="pager__item pager__item--next" {{#if can_go_next }}style="pointer-events: none;"{{/if}} >
								<a class="pager__link" href="/admin?page={{next_page}}">
									<svg xmlns="" width="8" height="12" viewbox="0 0 8 12">
										<g fill="none" fill-rule="evenodd">
										<path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
										</g>
									</svg>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>