{{#section 'js'}}
    <script>
        var page = parseInt($('#page').text()) + 1;
		$('.pager__item').eq(`${page}`).addClass('active')
    </script>
{{/section}}
<div class="container mt-5">
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-7 offset-sm-3 category-btn-group px-1">
            <a name="" id="" class="btn btn-success btn-lg category-btn category-btn--active mr-2" href="#"
                role="button">
                Tất cả khóa học
            </a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">
                Lập trình ứng dụng Web
            </a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">
                Lập trình ứng dụng di động
            </a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">
                Tin học văn phòng
            </a>
        </div>
    </div>
    <!-- Product item -->
    <div class="product mt-5">
        <!-- Khóa học nổi bật -->
        <div class="row">
            {{#each courses}}
            <div class="col-sm-3 mb-5">
                <a href="/courses/{{slug}}" class="product-item">
                    <div class="card card-item">
                        <img src="/products/{{folderName}}/images/{{avatar}}" class="product-item__img card-img-top" alt="avatar" title="avatar of course">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">{{name}}</h5>
                            <h4 class="card-subtitle mb-2 text-muted">{{lecName}}</h4>
                            <span class="card-text product-item__category">Lĩnh vực: {{fieldName}}</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">{{rating}}</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">({{totalRating}})</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">{{initialPrice}}</span>
                                <span class="product-item__price-current">{{currentPrice}}</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                <i class="fas fa-heart"></i>
                                Yêu Thích
                            </a>
                            <a class="btn btn-outline-success" href="/cart/add/{{_id}}" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>

        {{#unless empty}}
        <nav>
            <span id="page" style="display: none;">{{prev_page}}</span>
            <ul class="pager">
                <li class="pager__item pager__item--prev" {{#if can_go_prev }}style="pointer-events: none;"{{/if}}>
                    <a class="pager__link" href="/courses?page={{prev_page}}&search={{stringSearch}}">
                    <svg xmlns="" width="8" height="12" viewbox="0 0 8 12">
                        <g fill="none" fill-rule="evenodd">
                        <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
                        </g>
                    </svg></a></li>
                {{#each page_items}}
                    <li class="pager__item"><a class="pager__link" href="/courses?page={{value}}&search={{stringSearch}}">{{value}}</a></li>
                {{/each}}
                <li class="pager__item pager__item--next" {{#if can_go_next }}style="pointer-events: none;"{{/if}} >
                    <a class="pager__link" href="/courses?page={{next_page}}&search={{stringSearch}}">
                        <svg xmlns="" width="8" height="12" viewbox="0 0 8 12">
                            <g fill="none" fill-rule="evenodd">
                            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
                            </g>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        {{/unless}}
        {{!-- <div class="row d-flex justify-content-center mt-4">
            <ul class="pagination home-product__pagination">
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">
                        <i class="pagination-item-icon fas fa-angle-left"></i>
                    </a>
                </li>

                <li class="pagination-item pagination-item--active">
                    <a href="" class="pagination-item-link">1</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">2</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">3</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">4</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">5</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">...</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">15</a>
                </li>

                <li class="pagination-item">
                    <a href="" class="pagination-item-link">
                        <i class="pagination-item-icon fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div> --}}
    </div>
</div>

<script>
    var page = parseInt($('#page').text()) + 1;
	$('.pager__item').eq(`${page}`).addClass('active')
</script>