<div class="container mt-5">
    <div class="row">
        <div class="col-sm-7 offset-sm-3 category-btn-group px-1">
            <a name="" id="" class="btn btn-success btn-lg category-btn category-btn--active mr-2" href="#"
                role="button">
                Khóa học nổi bật
            </a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">Lập trình ứng dụng
                Web</a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">Lập trình thiết bị
                di động</a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">Lập trình
                windows</a>
        </div>
    </div>
    <!-- Product item -->
    <div class="product mt-5">
        <!-- Khóa học nổi bật -->
        <div class="row">
            {{#each courses}}
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">{{name}}</h5>
                            <h4 class="card-subtitle mb-2 text-muted">{{lecturer.lecName}}</h4>
                            <span class="card-text product-item__category">Lĩnh vực: {{field.fieldName}}</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">{{rating}}</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">({{totalRating}})</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">{{price.initialPrice}}</span>
                                <span class="product-item__price-current">{{price.currentPrice}}</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                <i class="fas fa-heart"></i>
                                Yêu Thích
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>

        <div class="row d-flex justify-content-center mt-4">
            <ul class="pagination home-product__pagination">
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">
                        <i class="pagination-item-icon fas fa-angle-left"></i>
                    </a>
                </li>

                <li class="pagination-item pagination-item--active">
                    <a href="" class="pagination-item-link">1</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">2</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">3</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">4</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">5</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">...</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">15</a>
                </li>

                <li class="pagination-item">
                    <a href="" class="pagination-item-link">
                        <i class="pagination-item-icon fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>